body {
    background-color: rgba(222, 184, 135, 0.3);
}
/*NAVIGÁCIŐS MENÜ*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
   
  }
  
  .logo {
    color: #e9e9e9;
    font-size: 20px;
  }
  
  .menuBar {
    background-color: #2f2626;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    position: relative;
  }
  
  .menuBar ul 
  {
    list-style: none;
    display: flex;
  }
  
  .menuBar ul li 
  {
    padding: 10px 20px;
    position: relative;
  }
  
  .menuBar ul li a 
  {
    font-size: 18px;
    color: #e9e9e9;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .menuBar ul li a:hover 
  {
    color: #c5aa6a;
  }
  
  .fa {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* legördülő menü */
  .dropdownMenu 
  {
    display: none;
  }
  
  .menuBar ul li:hover .dropdownMenu 
  {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #2f2626;
  }
  
  .menuBar ul li:hover .dropdownMenu ul 
  {
    display: block;
    margin: 10px;
  }
  
  .menuBar ul li:hover .dropdownMenu ul li 
  {
    width: 150px;
    padding: 10px;
  }


/*REGISZTRÁCIÓS OLDAL*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
.oDiv
{
    background-color: rgba(48, 40, 40, 0.5);
    width: 500px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 10px 10px -2px #000000; 
    box-shadow: 0px 10px 10px -2px #000000;
    font-family: 'Roboto Slab', serif;
}
.oDiv .oForm
{
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    margin-top: 5%;
    padding-top: 50px;
    color: #F0F0F0;
}
.oDiv .oForm td    
{
    text-align: center;
}
.oDiv .oForm input
{
    width: 350px;
    height: 30px;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
    background-color: transparent;
    border: none;
    text-indent: 10px;
    border-bottom: 3px solid #a7a7a7;
    
    font-weight: 700;
    color:#dbdbdb;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    letter-spacing: 1.5px;
}
.oDiv .oForm input:focus
{
    border-bottom: 3px solid #32cd32;
    outline: 0
}
.oDiv .oForm input:not(:placeholder-shown)
{
    border-bottom: 3px solid #2a962a;
    outline: 0
}
.oDiv .oForm input::placeholder
{
    color:#b4b4b4;
}
.oDiv .oForm button
{
    margin-top: 20px;
    width: 130px;
    height: 35px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
}
.oDiv .oForm .oText span, .oDiv .oForm .oText span
{
  color: #c5aa6a;
  transition: 0.3s all ease;
}
.oDiv .oForm .oText span:hover
{
  color: #e6c67b;
}
.oDiv .oForm .oText a
{
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
}
#alertText
{
  letter-spacing: 2px; 
  font-weight: 600; 
  font-size: 16px;
}
.oDiv .oForm button
{
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(20, 20, 20);
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: 0.2s all ease-in-out;
  width: 150px;
}
.oDiv .oForm button:hover
{
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #F0F0F0;
  letter-spacing: 0.8px;
  color: #F0F0F0;
}